# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# .env file
.env
.env.*

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next
out
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-error.log*

# turbo
.turbo

.vscode
.idea
tsconfig.tsbuildinfo

